* {
  font-family:'Archivo Narrow', sans-serif;
}
.about, .projectsection{
  margin-left: 10vh;
  display: inline-block;
  font-size: 28px;
}
h2{
  font-family:'Archivo Narrow', sans-serif;
}
.center {
  text-align: center;
}


.divider{
  border-top: 0.3em solid black;
  width: 95%;
  margin: 8vh auto;
}
