.break{ 
    margin-top: 23vh
}

.name {
    margin: auto;
    width: 100%;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 5.9em;
    padding-left: 40px;
    padding-right: 40px;
}
.barTop{
    /* margin-left: 3em; */
    width: 100%;
    height: 1.5em;
    border-top: 0.40em solid black;
    border-bottom: 0.40em solid black ;
    transform: skew(-20deg);
}
.barBottom { 
    width: 100%;
    height: 1.5em;
    border-top: 0.40em solid black;
    border-bottom: 0.40em solid black ;
    transform: skew(-20deg);
    /* margin-left: 0;
    margin-right: 0.8em; */
}
